soul1 PNG soul/red.png
soul2 PNG soul/orange.png
soul3 PNG soul/blueup.png
soul4 PNG soul/bluedown.png
soul5 PNG soul/blueleft.png
soul6 PNG soul/blueright.png
green PNG soul/green.png
purple PNG soul/purple.png
sans1 PNG sans/s1.png
sans2 PNG sans/s2.png
sans3 PNG sans/s3.png
sans4 PNG sans/s4.png
sans5 PNG sans/s5.png
sans6 PNG sans/s6.png
sans7 PNG sans/s7.png
sans8 PNG sans/s8.png
sans9 PNG sans/s9.png
sans10 PNG sans/s10.png
sans11 PNG sans/s11.png
sans12 PNG sans/s12.png
sans13 PNG sans/s13.png
fightbox PNG fightbox.png
ui PNG ui.png
backword PNG backword.png
w0 PNG digit/white/0.png
w1 PNG digit/white/1.png
w2 PNG digit/white/2.png
w3 PNG digit/white/3.png
w4 PNG digit/white/4.png
w5 PNG digit/white/5.png
w6 PNG digit/white/6.png
w7 PNG digit/white/7.png
w8 PNG digit/white/8.png
w9 PNG digit/white/9.png
wline PNG digit/white/line.png
p0 PNG digit/purple/0.png
p1 PNG digit/purple/1.png
p2 PNG digit/purple/2.png
p3 PNG digit/purple/3.png
p4 PNG digit/purple/4.png
p5 PNG digit/purple/5.png
p6 PNG digit/purple/6.png
p7 PNG digit/purple/7.png
p8 PNG digit/purple/8.png
p9 PNG digit/purple/9.png
pline PNG digit/purple/line.png
wgb PNG gb/wgb.png
bgb PNG gb/bgb.png
ogb PNG gb/ogb.png
