soul1 PNG soul/red.png
soul2 PNG soul/orange.png
soul3 PNG soul/blueup.png
soul4 PNG soul/bluedown.png
soul5 PNG soul/blueleft.png
soul6 PNG soul/blueright.png
green PNG soul/green.png
purple PNG soul/purple.png
sans1 PNG sans/s1.png
sans2 PNG sans/s2.png
sans3 PNG sans/s3.png
sans4 PNG sans/s4.png
sans5 PNG sans/s5.png
sans6 PNG sans/s6.png
sans7 PNG sans/s7.png
sans8 PNG sans/s8.png
sans9 PNG sans/s9.png
sans10 PNG sans/s10.png
sans11 PNG sans/s11.png
sans12 PNG sans/s12.png
sans13 PNG sans/s13.png
fightbox PNG fightbox.png
